//color variables
$text_color:#333333;
$brand_color: #0e3e6d;
$border_color: #383d8d;
$red: #ac161e;
input[placeholder]{
  color: #fff;
}
.form__wrapper{
  height: 260px;
  background-color: $brand_color;
  font-size: 0;
  color: #fff;
}
.form__block{
  display: inline-block;
  width: 50%;
  font-size: 1.2rem;
}
.form__block_left{
  padding-top: 5%;
}
.form__block .form__title{
  font-size: 3rem;
  padding-top: 7%;
  font-family: "GothaProBla", sans-serif;
}
.form__block span{
  display: block;
  width: 71%;
  font-size: 1.7rem;
  padding-top: 10px;
  text-align: right;
  letter-spacing: 1px;
}
.form__block input{
  background-color: #0e3e6d;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  padding-left: 15px;
  height:43px;
  outline: 0;
}
.form__block input[name="name"]{
  display: block;
  width: 90%;
}