.design__container
    .container
      .row
        .design__text
            p Мы можем произвести как штучное изделие, так и большую партию по Вашим чертежам
            .button.button_disign быстрый заказ
        .design__slider
            div.design__solutions Дизайнерские решения
            div.design__img-wrapper
                a(src="#")
                    img(src='./assets/img/design_slide.png')
            .design__slider-content
                span.design__span Перегородка для ванной комнаты
                span Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий.
                .controls__container
                    each link in [1,2,3,4,5] 
                        a(href="#").controls__item
