.design__container
    .container
      .row
        .design__text
            p Мы можем произвести как штучное изделие, так и большую партию по Вашим чертежам
            .button.button_disign быстрый заказ
        .design__slider
            .design__solutions Дизайнерские решения
            .design__slider-wrapper
                .design__slick
                    .disign__slick-item
                        .design__img-wrapper
                            img(src='./assets/img/design_slide.png')
                        .design__slider-content
                            span.design__span Перегородка для ванной комнаты
                            span Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий.
                    .disign__slick-item
                        .design__img-wrapper
                            img(src='./assets/img/product_ograda.png')
                        .design__slider-content
                            span.design__span Ограды
                            span Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий.
                    .disign__slick-item
                        .design__img-wrapper
                            img(src='./assets/img/product_panel.png')
                        .design__slider-content
                            span.design__span Панели
                            span Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий.
                .controls__container.design__controls
                    //each link in [1,2,3,4,5]
                    //    a(href="#").controls__item
