-var socials = ['fa-pinterest-p','fa-facebook','fa-instagram']
-var sections = ['01','02','03','04','05','06','07','08']
.container
    .row
        .col-sm-12
          ul.main-baner__socials
            each social in socials
              li
                a(herf='#')
                  i(class=`fa ${social}` aria-hidden="true")
          ul.main-baner__sections-counter
            each section in sections
              li
                a(herf='#')=section
          .main-baner__wrapper
            img(src="./assets/img/slider_bg.png")
            .main-baner__title
                div Воплощаем любые <span> креативные</span> идеи в металлических панелях
                .main-baner__paragraph Навесные и объемные фасады, ограды, ворота, лестничные ограждения, панели для стен и потолка, элементы декора.
                a(href="#").button.main-baner__button_slider связаться с нами
