.container
    .row
        .col-sm-12
            .main-baner__wrapper
                img(src="./assets/img/slider_bg.png")
                .main-baner__title
                    div Воплощаем любые <span> креативные</span> идеи в металлических панелях
                    div.main-baner__paragraph Навесные и объемные фасады, ограды, ворота, лестничные ограждения, панели для стен и потолка, элементы декора.
                    a(href="#").button.main-baner__button_slider связаться с нами