.map__container
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2b62cbd9301b0f311cde1fe78db4e94cc4764197732d814bdd01677f12bdbf72&amp;source=constructor" width="100%" height="540" frameborder="0"></iframe>
  .container
    .row
      .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-5
        ul
          li
            .map__title
              div
                span Звоните
            .map__contacts 
              div
                span 8-909-023-26-45
                span 8-800-700-0537
          li
            .map__title
              div
                span Пишите
            .map__contacts
              div  
                span rivaldecor@rival-laser.ru
          li
            .map__title
              div
                span Приходите
            .map__contacts  
              div
                span 622014 г.Екатеринбург
                span ул. Бориса Ельцина д.3
