.modal__window
  .modal__form-container
    a(href="#").modal__close-btn
      img(src="./assets/img/cross-out.svg")
    .modal__title Остались вопрсоы?
    span Спросите у наших специалистов
    form(method="post" action="").modal__form
        input(type="text" name="name" placeholder="Ваше имя")
        input(type="email" name="email" placeholder="Ваш e-mail")
        input(type="tel" name="phone" placeholder="Ваш номер")
        textarea(name="message" placeholder="Ваше сообщение")
        input(type="checkbox" )
        span.modal__agree-span Я даю 
          a(href="#") согласие на обработку персональных данных   
        button.button.button_objects Отправить 
        
