.modal__window_product
  .modal__form-container.modal_product
    a(href="#").modal__close-btn
      img(src="./assets/img/cross-out.svg")
    .modal__slider
      .modal__slider-wrapper
        .side__controls.left__control
          a(href="#")
            img(src="./assets/img/left_arrow.png")
        .side__controls.right__control
          a(href="#")
            img(src="./assets/img/arrow.png") 
        .controls__container.page__slider-controls
            each link in [1,2,3,4,5] 
                a(href="#").controls__item    
        img(src="./assets/img/inner_slider.png") 
    .modal__text
      span 1 сентября 2017
      .modal__product-title Разнообразный богатый  опыт началь работы по формированию позиции требуют определения.
      p Когда от милой доилны поднимается пар и полдневоное солнце стоит над непроницаемой чащей темного леса и лишь редкий случай проскальзывает
      p Когда от милой доилны поднимается пар и полдневоное солнце стоит над непроницаемой чащей темного леса и лишь редкий случай проскальзывает
      p Когда от милой доилны поднимается пар и полдневоное солнце стоит над непроницаемой чащей темного леса и лишь редкий случай проскальзывает
    
