.container
  .row
    .col-xs-12
      .news__wrapper
        div Новости
        ul
          li
            div(class=`${elem.class}`)
          li
            span.news__span 1 сентября 2017 
            .news__content Разнообразный богатый опыт начало работы по формированию позиции требуют определения.
            a(href="#").news__link Читать >
