.container
  .row
    .col-xs-12
      .news__wrapper
        div.news__title Новости
        ul
          li
            .news__img
          li
            .news__content-item-wrapper
              span.news__span  1 сентября 2017
              .news__content Разнообразный богатый опыт начало работы по формированию позиции требуют определения.
              a(href="#").news__link  Читать >
          li
            .news__img-2
          li
            .news__content-item-wrapper
              span.news__span  1 сентября 2017
              .news__content  формированию позиции требуют определения.
              a(href="#").news__link  Читать >
          li
            .news__content-item-wrapper
              span.news__span  1 сентября 2017
              .news__content  формированию позиции требуют определения.
              a(href="#").news__link  Читать >
          li
            .news__img
          li
            .news__content-item-wrapper
              span.news__span  1 сентября 2017
              .news__content Разнообразный богатый опыт начало работы по формированию позиции требуют определения.
              a(href="#").news__link  Читать >
          li
            .news__img-2
