.container
    .row
        .col-xs-12
            .objects__title Объекты
    div.objects__controls-container
      .objects__controls.side__controls.left__control
        a(href="#")#control_l
          img(src="./assets/img/left_arrow.png")
      .objects__controls.side__controls.right__control
        a(href="#")#control_r
          img(src="./assets/img/arrow.png")
      .row
        .owl-carousel
          -var objects = [{'num':1, 'title':'Стадион в Ростове-на-Дону'}, {'num':2, 'title':'Колесо обозрения в Сочи'},{'num':3, 'title':'Цирк в Омске'}, {'num':2, 'title':'Цирк в Омске'},{'num':1, 'title':'Цирк в Омске'}];
          each object in objects
              .object__item
                  .object__img-wrapper
                      img(src=`./assets/img/object-item_${object.num}.png`)
                  .object__title
                      span=object.title
                      a(href='#') Смотреть объект >
    .row
        .col-xs-12
            .objects__button
                div.button.button_objects быстрый заказ
