.container
  .row
    .col-xs-12
      .partners__wrapper
        .partners_title Партнеры
        .partners_slider
          //.partners__control.side__controls.left__control
            //a(href="#")
            //  img(src="./assets/img/left_arrow.png")
          //.partners__control.side__controls.right__control
            //a(href="#")
            //  img(src="./assets/img/arrow.png")
        .slick
          div
            img(src='./assets/img/partners_1.png')
          div
            img(src='./assets/img/partners_2.png')
          div
            img(src='./assets/img/partners_1.png')
          div
            img(src='./assets/img/partners_2.png')
          div
            img(src='./assets/img/partners_1.png')
          div
            img(src='./assets/img/partners_2.png')
          div
            img(src='./assets/img/partners_1.png')
          //ul
          //  li
          //    a(href="#")
          //      img(src='./assets/img/partners_1.png')
          //  li
          //    a(href="#")
          //      img(src='./assets/img/partners_2.png')
          //  li
          //    a(href="#")
          //      img(src='./assets/img/partners_1.png')
          //  li
          //    a(href="#")
          //      img(src='./assets/img/partners_2.png')
          //  li
          //    a(href="#")
          //      img(src='./assets/img/partners_1.png')
