.container
  .row
    .col-xs-12
      .partners__wrapper
        .partners_title Партнеры
        .partner__controls
        .partner__controls
        ul
          li
          li
          li
          li
          li
