.container
  .row
    .col-xs-12
      .partners__wrapper
        .partners_title Партнеры
        .partner__controls.left__control
          a(href="#")
            img(src="./assets/img/arrow.png")
        .partner__controls.right__control
          a(href="#")
            img(src="./assets/img/arrow.png")
        ul
          li
            a(href="#")
              img(src='./assets/img/partners_1.png')
          li
            a(href="#")
              img(src='./assets/img/partners_2.png')
          li
            a(href="#")
              img(src='./assets/img/partners_1.png')
          li
            a(href="#")
              img(src='./assets/img/partners_2.png')
          li
            a(href="#")
              img(src='./assets/img/partners_1.png')
