.container
    .row
        .col-sm-12
            .product__title Продукция
    .row.product__row
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_panel.png" data-rel="lightcase") 
                        img(src="./assets/img/product_panel.png")
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_ograda.png" data-rel="lightcase") 
                        img(src="./assets/img/product_ograda.png")
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
    .row.product__row
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card.product__card_right
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_vorota.png" data-rel="lightcase") 
                        img(src="./assets/img/product_vorota.png")
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card.product__card_right
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_naves.png" data-rel="lightcase") 
                          img(src="./assets/img/product_naves.png")
    .row.product__row
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_peregorodka.png" data-rel="lightcase") 
                        img(src="./assets/img/product_peregorodka.png")
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_decor.png" data-rel="lightcase") 
                        img(src="./assets/img/product_decor.png")
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
    .row.product__row
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card.product__card_right
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_wall-panel.png" data-rel="lightcase") 
                        img(src="./assets/img/product_wall-panel.png")
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
            .product__card.product__card_right
                .product__container.right
                    .product__card-title Фасадные панели
                    .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                    a(href="#") Заказать >
                .product__container
                    .product__img-wrapper
                      a(href="./assets/img/product_stairs.png" data-rel="lightcase") 
                          img(src="./assets/img/product_stairs.png")
