extends ../_template

block variables
    - var title = 'Home page'

block content
    header.container
        .row
            .col-sm-3.header__logo
                a(href="index.html").header__link
                    img(src="./assets/img/header_logo.png")
            .col-sm-offset-6.col-sm-3.header__phone
                a(href="#" title="8-800-700-0537").header__link-phone 8-800-700-0537
                a(href="#" title="rivaldecor@rival-decor.ru").header__link-email rivaldecor@rival-decor.ru
    .page__navigation
        .container
            .row
                .col-sm-2.page__navigation-main
                    a(href="index.html") < на главную
                .col-sm-offset-3.col-sm-7
                    ul.header__navigation-list
                        -var items = ['продукция',"о компании","объекты","новости","контакты"];
                        each item in items
                            li.header__navigation-item
                                a(href="#")=item
    .container
        .row
            .col-xs-12
                .page__title Панели для стен и потолка
        .row 
            .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
              .page__slider-wrapper
                .side__controls.left__control
                  a(href="#")
                    img(src="./assets/img/left_arrow.png")
                .side__controls.right__control
                  a(href="#")
                    img(src="./assets/img/arrow.png") 
                .controls__container.page__slider-controls
                    each link in [1,2,3,4,5] 
                        a(href="#").controls__item    
                img(src="./assets/img/inner_slider.png")  

            .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6  
              .page__social
                span Подписаться
              .page__description
                p Я так счастлив мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а инокода не был таким большим художником, как в эти минуты. 
                p Я так счастлив мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а инокода не был таким большим художником, как в эти минуты. Я так счастлив мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а инокода не был таким большим художником, как в эти минуты. 
                .button.page__button быстрый заказ
        .row
            .col-xs-12
                .page__title Галерея
        .row
          each item in [1,2,3,4]
            .col-xs-6.col-sm-3
              a(href="./assets/img/galery_item.png" data-rel="lightcase").page__galery-link
                img(src="./assets/img/galery_item.png")
        .row
            .col-xs-12
                .page__title Наши приемущества
        .row
            .col-sm-3
                .page__card
                    .page__img-wrapper
                      img(src="./assets/img/like.svg").page__icon
                    span Специальные ценовые условия от производителя
            .col-sm-3
                .page__card
                    .page__img-wrapper
                      img(src="./assets/img/delivery.svg").page__icon
                    span Доставка до объекта по всей России
            .col-sm-3
                .page__card
                    .page__img-wrapper
                      img(src="./assets/img/clock.svg").page__icon
                    span Изготовление под заказ от двух недель
            .col-sm-3
                .page__card
                    .page__img-wrapper
                      img(src="./assets/img/colors.svg").page__icon
                    span Цвет порошковой окраски любой по каталогу RAL
        .row
            .col-xs-12
                .form__wrapper.page__fonrm-wrapper
                    .form__block.form__block_left
                        span.form__title Оставте заявку на быстрый расчет
                        span Наш менеджер свяжется с вами в течении дня
                    .form__block.form__block_right
                        form
                            input(type="text" name="name" placeholder="Ваше имя")
                            .form__input-group
                                input(type="email" name="email" placeholder="Ваш e-mail")
                                input(type="tel" name="phone" placeholder="Ваш номер")
                            .button.button__send
                                input(type="submit" value= "Отправить")
        .row
            .col-xs-12
                .page__title Смотрите также
        .row.product__row
            .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
                .product__card
                    .product__container
                        .product__img-wrapper
                            img(src="./assets/img/product_peregorodka.png")
                    .product__container.right
                        .product__card-title Фасадные панели
                        .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                        a(href="#") Заказать >
            .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-6
                .product__card
                    .product__container
                        .product__img-wrapper
                            img(src="./assets/img/product_vorota.png")
                    .product__container.right
                        .product__card-title Фасадные панели
                        .product__card-description Компания "Риваль Лазер" принимает заказы на выпуск различной продукции по чертежам заказчика
                        a(href="#") Заказать >
    include ./map
    include ./footer
