.container.question__section
    .row
        .col-xs-12
            .form__wrapper
                .form__block.form__block_left
                    span.form__title Остались вопросы?
                    span Задайте их менеджеру
                .form__block.form__block_right
                    form
                        input(type="text" name="name" placeholder="Ваше имя")
                        input(type="email" name="email" placeholder="Ваш e-mail")
                        input(type="tel" name="phone" placeholder="Ваш номер")
                        input(type="submit" value= "Отправить").button