.rival__container
    .rival__title
        div Rival Decor
    .rival___description
        .rival__text
            p Rival Decor - одно из составляющих направлений Торгово-Промышленной Группы "Ривал"
            p Компания существует на рынке обработки листового металла более 10 лет.
            p Осуществляет полный комплекс услуг по обработке листового проката и  изготовлению нестандартных металлоконструкций
            p Риваль Декор специализируется на производстве плоских и объемных металических панелей любой сложности в направлении - строительство, дизайн интерьер и частные индивидуальные проекты.
            p Металические панели в экстерьере и интерере: фасадные панели, панели для стен и потолка, элементы декора.
            p Мы воплащаем любые креативные идеи дизайнеров и архитекторов: необычные формы, оригинальные цветовые решения при этом гарантируем высокое качество и длительный срок эксплуатации.
            p Весь процесс осуществляется высококвалифицированными специалистами на современном и сертифицированном оборудовании, соответствующем международноым стандартам безопасности и качества.
            p Материалы с которыми мы работаем: сталь, алюминий, титан, медь, латунь.
            p Для удобства клиента мы можем изготовить изделие по эскизу, чертежу, я также сдедать пробный образец бесплатно.