.subscribe__container
  .container
    .row
      .col-xs-offset-1.col-xs-10.col-sm-offset-3.col-sm-6
        span Подпишитесь на новости
        form
          input(type="e-mail" name="e-mail" placeholder="Ваш e-mail")
          .button.button__subscribe 
            input(type="submit" value="подписаться")
