.video
  div.video__slide-item-1
    .video__opasity
    img(src="./assets/img/video_main.png")
  .container
    .row      
      .col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8
        .video__wrapper
          a(href="#")
            img(src="./assets/img/video_main.png")
            .icon  
        .video__description На портрете была изображена дама  в меховой шляпе и  боа, она сидела очень прямо и протягивала муфтуы    
  div.video__slide-item-2
    .video__opasity
    img(src="./assets/img/video_main.png")
